.nav {
  border-bottom: 20px;
  border-color: grey;
  border-style: solid; }

.logo {
  margin-top: 5px;
  margin-left: 5px; }

.material-icons {
  color: grey; }

/*=======================================================
			Forms
========================================================*/
#registerForm {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
  padding-top: 1%;
  box-shadow: 0 0 3px 0.5px grey;
  color: #bd081c; }

#form-background {
  background-image: url(http://res.cloudinary.com/emma/image/upload/c_scale,o_21,w_1200/v1488507484/pinterest-shopping_kxnb70.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 625px; }

.flow-text {
  text-align: center;
  font-family: 'Pacifico', cursive; }

/*=======================================================
			Card Styles
========================================================*/
.card {
  border-radius: 10px; }

.card-title {
  font-size: 15px;
  font-style: italic; }

.card-content {
  text-align: center;
  min-height: 92px; 
  max-height: 6em; }

.card-content p {
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 4.5em;
  overflow: hidden; }

.card-action {
  border-radius: 10px;
  text-align: center;
  text-overflow: ellipsis;
  height: 59px;
  font-size: 9px;
  color: grey;
  padding: 16px 0; }

.card-action:hover {
  box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, 0.05);
  border-radius: 10px; }

.card-image {
  margin-top: 25%;
  padding-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 15px;
  border-color: white;
  border-style: solid;
  height: 390px; }

.card-image-element {
  height: 390px; }

#select-board {
  margin-top: 7%;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #bd081c; }

/*=======================================================
			Boards
========================================================*/
#boardName {
  color: grey;
  font-family: 'Pacifico', cursive;
  font-size: 30px; }

#board-title {
  margin-top: 7%;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #bd081c; }

/*=======================================================
			Boards
========================================================*/
#login-form-container {
  margin-top: 7%; }

#test {
  margin-top: 7%;
  background-image: url(http://res.cloudinary.com/emma/image/upload/c_scale,w_450/v1488564296/iPad_homefeed_d153dl.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 405px; }

#welcome {
  border-radius: 5px;
  box-shadow: 0 0 3px 0px #bdbdbd; }

#welcome-text {
  color: #bd081c; }

.lead {
  text-align: center; }

.google {
  font-size: 30px;
  border-radius: 1px;
  border-color: black; }

/*=======================================================
			Buttons
========================================================*/
#register-btn {
  text-transform: none;
  border-radius: 50px;
  margin-left: 45%;
  margin-bottom: 2%; }

#register2-btn {
  text-transform: none;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 2%;
  background-color: #bd081c; }

#explore-btn {
  margin-left: 45%; }

#explore-text {
  text-align: center;
  margin-top: 0%;
  font-size: 50px;
  color: #b3b0b0;
  font-style: italic; }

#pin {
  width: 50%;
  margin-left: 10px;
  margin-top: 3px; }

#login {
  border-radius: 50px;
  margin-left: 40%;
  margin-bottom: 2%;
  text-align: center;
  background-color: #bd081c; }

#no-user {
  text-align: center;
  margin-bottom: 2%;
  color: grey; }

#add-board {
  border-radius: 50px;
  margin-left: 45%;
  margin-bottom: 2%;
  text-align: center;
  background-color: #bd081c; }

/*=======================================================
			Colors
========================================================*/
#category {
  color: #bd081c;
  font-family: 'Pacifico', cursive; }

/*# sourceMappingURL=main.css.map */
