<div class="row">
  <div class="col s3" ng-repeat="result in data">
    <div class="card">
      <div class="card-image">
        <img src="{{result.image}}">
        <span class="card-title">{{result.title}}</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="addPin(result)"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>{{result.snippet}}</p>
      </div>
      <div class="card-action">
        <a href="#">{{result.link}}</a>
      </div>
    </div>
  </div>
</div>

