
<div class="row" ng-show="boardExists">
  <h2 id="select-board">Please Select A Board</h2>
  <div class="col s12 m6">
    <div class="card" id={{board.key}}>
        <span class="card-title">New Board</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="createNewBoard()"href="#!/newBoard"><i class="material-icons">add</i></a>
      <div class="card-content">
        <p>Create A New Board</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6" ng-repeat="board in boards">
    <div class="card">
        <span class="card-title">{{board.title}}</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="pinToBoard(board)"><i class="material-icons">add</i></a>
      <div class="card-content">
        <p>{{board.description}}</p>
      </div>
    </div>
  </div>
</div>


<div class="row" ng-show="!boardExists">
  <div class="col s3" ng-repeat="result in data">
    <div class="card">
      <div class="card-image">
        <img src="{{result.image}}">
        <span class="card-title">{{result.title}}</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red hoverable" ng-click="addPin(result)"><img src="app/img/Asset.png" id="pin"></a>
      </div>
      <div class="card-content">
        <p>{{result.snippet}}</p>
      </div>
      <div class="card-action">
        <a href="#">{{result.link}}</a>
      </div>
    </div>
  </div>
</div>
