<nav class="navbar navbar-default transparent" ng-controller="NavCtrl">
  <div class="nav-wrapper">
    <a href="#!/index.html" class="brand-logo"><img src="/app/img/Pinterest-badge-144px.png" width=50 class="logo"/></a>
    <ul class="right hide-on-med-and-down">
      <li ng-show="!isLoggedIn"><a href="#!/explore"><i class="large material-icons">navigation</i></a></li>
      <li ng-show="!isLoggedIn"><a href="#!/profile"><i class="large material-icons">perm_identity</i></a></li>
      <!-- //TO DO: need to make sure correct data is bound to user -->
      <li ng-show="!isLoggedIn"><a href="#!/register"><i class="material-icons">shopping_basket</i></a></li>
      <li ng-show="!isLoggedIn"><a href="#!/login"><i class="material-icons">textsms</i></a></li>
    </ul>
  </div>
</nav>
