

<div class="row">
  <div class="col s4" ng-repeat="board in iterableBoards" ng-click="boardClicked(board)">
    <div class="row" id="{{boardIDs[$index]}}">
      <div class="card col s4" ng-repeat="pin in board.pins">        
        <img src="pin.image">        
      </div>      
    </div>
  </div>
</div>


<div class="row">
  <div class="col s4" ng-repeat="pin in pinsToDisplay">
    <div class="row">
      <img src="{{pin.image}}">
      <h3>{{pin.title}}</h3>   
      <p>{{pin.snippet}}</p>
      <p><a href="{{pin.link}}">Look it up!</a></p>
    </div>
  </div>
</div>

